:root {
  --primary: rgb(4, 159, 217);
  --secondary: rgb(20, 167, 146);
  --danger: rgb(207, 32, 48);
  --background: rgb(245, 247, 250);
  --background-alt: rgb(232, 235, 241);
  --border: rgb(204, 204, 204);
  --disabled: rgb(182, 185, 187);
  --header: rgb(57, 57, 59);
  --sub-header: rgb(88, 88, 91);

/* Alternative Orange theme */
/*
  --primary: #FF7900;
  --secondary: #000000;
  --danger: #CD3C14;
  --background: #FFFFFF;
  --background-alt: #EEEEEE;
  --border: #CCCCCC;
  --disabled: #AAAAAA;
  --header: #333333;
  --sub-header: #444444;
*/
}

@font-face {
  font-family: CiscoSansLight;
  src: url(resources/CiscoSansTTLight.eot);
  src: url(resources/CiscoSansTTLight.eot?#iefix) format("embedded-opentype"),
       url(resources/CiscoSansTTLight.ttf) format("truetype")
}

body {
  background-color: var(--nso-background-grey);
  font-family: CiscoSansLight, Helvetica, sans-serif;
  margin: 0px;
  overflow: hidden;
  width: 100%;
}

.tooltip {
  font-size: 0.875rem;
  text-align: left;
  line-height: 1;
}

table.tooltip > tbody > tr > td {
  padding-right: 1em;
}


